<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Atul Rawat | MERN Stack Developer</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <img src="/images/profile.jpg" alt="Atul Rawat">
    <h1>Atul Rawat</h1>
    <p>Software Engineer | MERN Stack Developer</p>
  </header>
