<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Responsive Landing Page Website Design</title>
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
  <header class="header">
     <div class="logo">
        <h1>Atul Rawat</h1>
        <h1>+91 8287211098</h1>
        <h1>atul2710rawat@gmail.com</h1>
     </div>

     <nav class="navbar">
         <a href="#home">Project</a>
         <a href="#features">Experience</a>
         <a href="#footer">Contact</a>

     </nav>


     <div class="fas fa-bars" id="menu-btn"></div>
 </header>









    <!-- home section ends -->

    <!-- features sectin starts  -->

    <section class="features" id="features">
        <div class="heading">
            <h1>Skills</h1>
            <p><<strong>Atom Bootstrap C/C CSS
 Data Structures Eclipse EJS
 Git GitHub Heroku HTML
 IntelliJ Java JavaScript
 MongoDB Mapbox Maze
 Middleware Python
 Visual Studio Sublime Text
 Node.js
 </strong>
</p>
        </div>


        <div class="row">
            <!-- 1 Tab  -->
            <div class="image">
                <img src="images/1.png" alt="illustration-features-tab-1">
            </div>


            <div class="content">
                <h1>Ozibook Tech Solutions Pvt. Ltd.</h1>
                <p>Developed responsive and user friendly web pages using HTML5, CSS3,
Javascript.
 Collaborated with team to design and implement landing pages and static
websites for clients.
Optimized web pages for cross browser compatibility and mobile
responsiveness.</p>
                <a href="#" class="all-btn"> Front End Developer</a>
            </div>

            <!-- 1 Tab  -->

            <!-- 2 Tab  -->
            <div class="content">
                <h1> Triple W Solutions Pvt Ltd.</h1>
                <p>Devloped and maintained RESTful APIs using Node.js and Express.js for
internal web applications.
Integrated MongoDB for database operations including schema design, CRUD
operations, and data validation.
Built responsive frontend interfaces using HTML, CSS, JavaScript, and
integrated them with backend APIs.
Collaborated with team on full stack project lifecycles from requirement
gathering to deployment.
Participated in debugging sessions and application performance optimization.</p>
                <a href="#" class="all-btn">Full Stack Developer</a>
            </div>

            <div class="image">
                <img src="images/2.png" alt="illustration-features-tab-2">
            </div>

            <!-- 2 Tab  -->

            <div class="image">
                <img src="images/3.jpg" alt="illustration-features-tab-3">
            </div>

            <div class="content">
                <h1> Financial Independence Services</h1>
                <p> Analyzed order flow charts, market depth, and footprint charts to identify
high-probability breakout and breakdown setups in equity and derivative
markets.
Provided real-time intraday and positional trading calls based on live order
flow analysis.
Maintained a detailed trading journal and documented market events, trade
outcomes, and strategy effectiveness. </p>
                <a href="#" class="all-btn">Stock Market Advisor / Order Flow Analyst</a>
            </div>


            <!-- 3 Tab  -->

        </div>
    </section>


    <!-- features sectin ends -->


    <!-- downloads section starts  -->



    <!-- downloads section ends -->



    <!-- footer section starts  -->

   <section class="footer" id="footer">
       <div class="box-container">


           <div class="box">
               <h3>contact info</h3>
               <a href="#"><i class="fas fa-phone"></i>8287211098</a>
               <a href="#"><i class="fas fa-envelope"></i>atul2710rawat@gmail.com</a>
               <a href="#"><i class="fas fa-map-marker-alt"></i>Delhi, India- 110059</a>
           </div>

           <div class="box">
               <h3>follow Me</h3>
               <a href="https://www.instagram.com/lio_kang/"><i class="fab fa-instagram"></i>instagram</a>
               <a href="https://www.linkedin.com/in/atul-rawat-1135bb178/"><i class="fab fa-linkedin"></i>linkedin</a>
               <a href="https://github.com/liokang/"><i class="fab fa-pinterest"></i>Github</a>
           </div>
       </div>


       <div class="credit">created by
           <a  target="_blank"><span>Atul Rawat</span> | all rights reserved</a>
       </div>
   </section>

    <!-- footer section ends -->


    <script src="js/main.js"></script>
</body>

</html>
